<nav style="background-color: bisque;">
  <div class="container nav-container">
    <div class="nav-brand">
      <img src="/images/logo-tran.png" alt="啄木鸟香木祥缘" class="" style="max-width: 50px; max-height: 50px;">
      <div class="nav-logo">
        啄木鸟 <sup style="font-size: 9px;">TM</sup> 香木祥缘
        <div class="nav-logo-english">Fragrant Wood Auspicious Connection</div>
      </div>
    </div>

    <div class="menu-toggle" id="nav-icon3">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="nav-links" id="nav-links">
      <li>
        <a href="/">首页 <span class="english">Home</span></a>
      </li>
      <li>
        <a href="#features">特色 <span class="english">Features</span></a>
      </li>
      <li>
        <a href="/#products">产品 <span class="english">Products</span></a>
      </li>
      <li>
        <a href="/articles-listing">精选文章 <span class="english">Articles</span></a>
      </li>
      <li>
        <a href="/#about">关于我们 <span class="english">About Us</span></a>
      </li>
      <li>
        <a href="/#testimonials">客户评价 <span class="english">Testimonials</span></a>
      </li>
      <li>
        <a href="/#contact">联系我们 <span class="english">Contact</span></a>
      </li>
    </ul>
  </div>
</nav>